body {
    background-image: url(imagens/fundo.png);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

a:link {
    color: #6D6E5A;
    text-decoration: none;
}

a:visited {
    color: #6D6E5A;
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

h1 {
    color: #6D6E5A;
}

footer {
    text-align: center;
}



.campanha {
    border: 10px solid #B8B9A5;
    margin: 10px;
}

.menu {
    background-color: #F0F1E6;
    padding: 5px;
}

.contato {
    font-size: 22px;
    font-weight: bold;
    color: #6D6E5A;
}

.negrito {
    color: black;
}


#capa {
    width: 1100px;
}

#navegar {
    background-color: #B8B9A5;
    padding: 30px;
    font-size: 25px;
    text-align: center;
    color: #6D6E5A;
    font-weight: bold;
}

#principal {
    width: 1100px;
}